
.container{
    width: 100%;
    max-width: 940px;
    margin: 5rem auto 0 auto;
}

.content{
    width: 100%;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1{
    text-align: center;
    margin-bottom: 20px;

    color: var(--color-headings);
    font-size: 30px;
    font-weight: bold;
}

.content > p{
    text-align: justify;
    font-size: 16px;
    color: var(--color-text);
}

.section-principal{
    padding: 20px;
}
.title-principal{
    font-style: italic;
    font-size: 16px;
    color: var(--color-text);
    margin-bottom: 20px;
}


/* Slider */
.slider-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-content h2{
    margin-bottom: 20px;
    color: var(--color-headings);
}
.slideshow-container {
  max-width: 720px;
  position: relative;
}


.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: var(--color-text);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Section */
.section-container{
    width: 100%;
    margin-top: 30px;
}
.section-card{
    border: 2px  solid var(--color-text);
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(50 50 50 / 22%);

    padding: 5px;
    margin-bottom: 50px;
}

.section-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.title-section{
    text-align: center;
    color: var(--color-headings);
}
.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 25px auto;
}

.content-section p{
    color: var(--color-text);
    width: 50%;
    text-align: justify;
    padding-left: 20px;
}

section span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--color-text);
}
section span a{
  text-decoration: none;
  color: var(--color-text);
}