#myFooter {
    background-color:var(--bg);
    color: var(--color-text);
    /* padding-top: 30px; */
}

#myFooter .footer-copyright {
    background-color: var(--color-text);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: var(--bg);
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: var(--color-text);
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: var(--color-text);
}

#myFooter a {
    color: var(--color-text);
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: var(--color-text);
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: var(--color-text);
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .github:hover {
    color: #0077e2;
}

#myFooter .linkedin:hover {
    color: purple;
}

#myFooter .instagram:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 780px) {
    #myFooter {
        width: 100%;
        text-align: center;
    }
    .col-sm-2{
        margin-top: 20px;
    }
}

