.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.exibir{
    display: flex;   /* retira o display none e adiciona o display flex*/

}

.modal-content{
    background: var(--bg);
    width: 60%;
    min-width: 300px;
    padding: 15px;
    border: 10px solid var(--bg-panel);

    position: relative;
}

.modal-content h3{
    color: var(--color-headings);
    font-size: 1.5rem;
}

.modal-content form label{
    width: 100%;
    display: block;
    font-size: 0.9rem;

    margin: 20px 0;
}

.label-modal{
    color: var(--color-text);
}

form label input , textarea{ 
    display: block;
    padding: 10px 5px;
    width: 100%;
    margin: 10px 0;
}



.modal-content form button{
    width: 50%;
    padding: 11px;
    
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-text);
    background: var(--bg-panel);
    border-radius: 5px;
    border: 1px solid;
    transition: 1s all;
	cursor: pointer;
}

.modal-content form button:hover{
    background: var(--color-text);
    color:var(--bg-panel);
}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}

.exibir .modal-content{
    animation: modal .3s;
}

.exit{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 40px;
    height: 40px;

    font-size: 16px;

    border-radius: 50%;
    border: 4px solid white;
    background: red;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.exit:hover{
    background: rgb(204, 99, 99);
}