
main{
    width: auto;
    max-width: 940px;
    margin: 35px auto;
}
main h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
main img {
    background-image: url("../assents/images/main.jpg");
    background-size: cover;
    width: 100%;
}
 main p{
     margin-top: 20px;
     font-size: 18px;
     font-family: 'Montserrat', sans-serif;
 }
 
 /* CARDS */
 .content-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-card a{
      text-decoration: none;
  }
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
  
  .blue {
    border-left: 3px solid #4895ff;
  }
  
  .green {
    border-left: 3px solid #3bb54a;
  }
  
  .red {
    border-left: 3px solid #b3404a;
  }
 
 section{
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;

     padding: 20px;
 }
 .title-list{
     font-size: 20px;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     margin-bottom: 20px;
 }
section ul li{
    text-decoration: none;
 }