<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Marahao - Cultura</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/cultura.css">
    <link rel="stylesheet" href="../Styles/footer.css">
    
</head>
<body>
    <header>
        <h1><img src="../assets/images/brasao.png" alt="brasaoMaranhao"></h1>
        <nav class="navigation">
            <ul class="cabecalho">
                <li><a  href="./index.html">Home</a></li>
                <li><a class="isActive" href="./cultura.html">Cultura</a></li>
                <li><a href="./PontosTuristicos.html">Pontos Turisticos</a></li>
                <li><a href="#">Festas</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="container">
        <div class="content">
            <h1>A cultura maranhense</h1>

            <p>Nosso povo expressa a mais autêntica cultura brasileira, fruto do casamento perfeito entre as três raças matrizes que engendraram o povo brasileiro. Politicamente, o Maranhão é Nordeste (antes era o “Meio-Norte”), geograficamente é uma mistura única de Norte-Nordeste e culturalmente, marcado pelas heranças indígena, branca e forte presença negra, é algo que só o encontro (ou o “meio-termo”) dessas/entres essas duas regiões brasileiras e a intensa miscigenação do seu povo poderiam produzir, com muita coisa própria, que só tem aqui, evidenciada pela sua rica culinária, artesanato, história, folclore, cultura popular e música.</p>

            <img class="image-content" src="../assets/images/bumba-meu-boi.jpg" alt="bumba meu boi">
            <p>Bumba meu boi</p>
        </div>
        <section class="section-principal">
            <h3 class="title-principal">"A cultura maranhense é um verdadeiro caldeirão de ritmos, talentos, cores, texturas e sabores, que também encerraum grande potencial para o turismo cultural, histórico e rural."</h3>

            <div class="slider-content">
                <h2>Algumas de suas maravilhas</h2>

                <div class="slideshow-container">
                    <div class="mySlides fade">
                      <div class="numbertext">1 / 3</div>
                      <img src="../assets/images/piscinas-naturaiseste.jpg" style="width:100%">
                      <div class="text">Poço azul</div>
                    </div>
                  
                    <div class="mySlides fade">
                      <div class="numbertext">2 / 3</div>
                      <img src="../assets/images/dune.jpg" style="width:100%">
                      <div class="text">lensois maranhense</div>
                    </div>
                  
                    <div class="mySlides fade">
                      <div class="numbertext">3 / 3</div>
                      <img src="../assets/images/construçoesHistoricas.jpg" style="width:100%">
                      <div class="text">construçoes Historicas - São Luis</div>
                    </div>
                  </div>
                  <br>
                  <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                  </div>
            </div>
        </section>

        <section class="section-container">
            <div class="section-card">
                <h3 class="title-section">Bumba-Meu-Boi</h3>
                <div class="content-section">
                    <p>Num espetáculo de cores, danças e ritmos, o Bumba-Meu-Boi é a expressão máxima da cultura popular do Maranhão. Elevado a Patrimônio Imaterial do povo brasileiro, a manifestação tem origens indefinidas, mas elementos culturais africanos e europeus, introduzidos principalmente por meio da religiosidade, são evidentes. Nas comunidades que fazem a brincadeira, as celebrações e o trabalho em torno da festa duram praticamente o ano inteiro. Um dos desafios é preparar o couro do boi, revestimento de camurça belamente decorado com canutilhos que recobrem o corpo do animal, pois é de bom tom que este seja renovado a cada temporada. Mas é durante os festejos juninos que ele reina absoluto, arrastando multidões e encantando quem assiste pela primeira vez suas apresentações</p> 
                    <img src="../assets/images/bunba-meu-boi-2.jpg" alt="bunba meu boi">   
                </div> 
            </div>

            <div class="section-card">
                <h3 class="title-section">Tambor de Crioula e outras danças populares</h3>
                <div class="content-section">
                    <p>Manifestação de raízes africanas que só existe no Maranhão, o Tambor de Crioula foi reconhecido em 2011 como Patrimônio Imaterial Brasileiro. Alegre, sensual e irreverente, pode ser apreciado ao ar livre, nas praças, casas e interior de terreiros por todo o Maranhão, mas sobretudo em São Luís.
                    O som é extraído de tambores tradicionalmente feitos de troncos de árvores e recobertos de couro de cabra. E o vestuário, extravagante, é composto por saias rodadas e coloridas, blusas rendadas, turbantes e uma profusão de colares.</p>

                    <img src="../assets/images/tambor-crioula.jpg" alt="tambor-crioula">
                </div>
                
            </div>

            <div class="section-card">
                <h3 class="title-section">Dança do Cacuriá</h3>
                <div class="content-section">
                    <p>Surgiu como a parte profana das festividades do Divino Espírito Santo, uma das tradições juninas maranhenses. A parte vocal é feita por versos improvisados respondidos por um coro de brincantes. A representante mais conhecida do Cacuriá é Dona Teté do Cacuriá, de São Luís.</p>
    
                    <img src="../assets/images/dança-cacuria.jpg" alt="dança-cacuria">
                </div>
            </div>

            <div class="section-card">
                <h3 class="title-section">Dança do Lelê</h3>
                <div class="content-section">
                    <p>A Dança do Lelê guarda em muitas de suas características os traços das danças de salão trazidas para o Brasil pelos povos ibéricos no século XIX. Trata-se de uma dança de salão profana, mas que costuma ser dançada em honra de determinados santos, ao longo do ano.
                    Encontrada no Maranhão, na região do Munim, particularmente nos municípios de Rosário (povoado de São Simão) e Axixá, a Dança do Lelê é também conhecida também como Dança do Péla (péla Porco), associada a um costume antigo de pessoas que se reuniam para matar galinhas e pelar porcos, o que garantia o alimento do dia posterior à festa.</p>
                    <img src="../assets/images/danca-lele.jpg" alt="danca-lele">
                </div>
            </div>

            <div class="section-card">
                <h3 class="title-section">Festa do Divino</h3>
                <div class="content-section">
                    <p>Comemorada, durante todo o mês de maio, desde os tempos coloniais, a Festa do Divino Espírito Santo é uma curiosa mistura de devoção ao Divino com homenagens ao Império. O “imperador” e sua corte, representada em trajes típicos, visitam as casas dos festeiros.
                    Os cortejos populares percorrem as ruas da cidade entoando cânticos até chegar à casa do Imperador, que recebe as homenagens com uma dança peculiar, entoando cantigas de louvor ao Divino ao toque das caixeiras. Ao final, são servidos bebidas e doces para a população que participa da festa. A festa do Divino é celebrada em todo o Maranhão, principalmente em Alcântara e São Luís.</p>
                    <img src="../assets/images/festa-divino.jpg" alt="festa-divino">
                </div>
            </div>
            <span>
                <strong>Fonte:</strong>
                <a target="_blanck"href="https://www.turismo.ma.gov.br/cultura-e-festas-populares/">Secretaria de Estado e turismo</a>
            </span>
        </section>
    </main>

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="https://www.inova.ma.gov.br/"> <img width="150px"
                                src="../assets/images/inova-maranhao.png" alt=""></a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Inicio</h5>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./cultura.html">Cultura</a></li>
                        <li><a href="#">Pontos Turisticos</a></li>
                        <li><a href="#">Pratos tipicos</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre-nós</h5>
                    <ul>
                        <li><a href="#">Informações da Empresa</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-github"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
                <div class="col-sm-2">
                    <img width="250px"src="../assets/images/trilhas.png" alt="é nois">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright - Kelvyn Reis</p>
        </div>
    </footer>
    <script src="../main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>