<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Marahao - Cultura</title>

    <link rel="stylesheet" href="../Styles/cultura.css">
</head>
<body>
    <header>
        <h1><img src="../assets/images/brasao.png" alt="brasaoMaranhao"></h1>
        <nav class="navigation">
            <ul class="cabecalho">
                <li><a  href="./index.html">Home</a></li>
                <li><a class="isActive" href="./cultura.html">Cultura</a></li>
                <li><a href="#">Pontos Turisticos</a></li>
                <li><a href="#">Pratos Tipicos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>