<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Maranhão - Pontos Turisticos</title>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="../Styles/modal.css">
    <link rel="stylesheet" href="../Styles/footer.css">
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/PontosTuristicos.css">
    <link rel="stylesheet" href="../Styles/responsivo.css">
</head>
<body>
    <header>
        <div class="logo-maranhao">
            <img src="../assets/images/brasao.png" alt="brasaoMaranhao">
        </div>
        <nav class="navigation">
            <ul class="cabecalho">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cultura.html">Cultura</a></li>
                <li><a class="isActive" href="./PontosTuristicos.html">Pontos Turisticos</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1>Principais pontos Turisticos do Maranhão</h1>

        <div class="content">
            <h3> 1 - Parque Nacional dos Lençóis Maranhenses</h3>
            
            <iframe width="700" height="480" src="https://www.youtube.com/embed/g1jgzPJw1NU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Visitar o Parque Nacional dos Lençóis Maranhenses é sonho de muitos viajantes, nacionais e internacionais. Não é pra menos. A paisagem é completamente diferente de tudo o que você já viu. Eu diria que os Lençóis Maranhenses está no Top 5 dos destinos naturais mais impactantes do planeta.
            O Parque Nacional definido pelo ICMBio abrange 1.550 quilômetros quadrados,  dos quais pelo menos 900 são constituídos de dunas e lagoas perenes e sazonais. O parque abrange três municípios maranhenses: Barreirinhas, Santo Amaro e Primeira Cruz, sendo este último pouco visitado por turistas.</p>
            <span>Fonte:<a href="https://www.indavoula.com.br/pontos-turisticos-do-maranhao/">Inda vou la</a></span>
        </div>

        <div class="content">
            <h3> 2 – São Luís</h3>
            
            <iframe width="700" height="480" src="https://www.youtube.com/embed/pcsmHHjuR7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>São Luís é a capital e principal porta de entrada do estado. Embora seja localizada em uma ilha, suas praias não são muito desejadas pelos turistas. Afinal, as praias de São Luís não atendem ao estereótipo de praia do nordeste, com areia fofa branquinha e água em tons azul e verde. No entanto, seus quase 30 km de praias são marcados por uma das maiores variações de maré do mundo.
            O que traz o maior charme para o turismo da capital do Maranhão é o seu Centro Histórico, com seus casarões tombados como Patrimônio Histórico pela Unesco, desde 1997. A “Cidade dos Azulejos” ou “Ilha do Amor” preserva um enorme conjunto de azulejos dos séculos 18 e 19, a maioria de origem portuguesa. </p>
            <span>Fonte:<a href="https://www.indavoula.com.br/pontos-turisticos-do-maranhao/">Inda vou la</a></span>
        </div>

        <div class="content">
            <h3>3 – Alcântara</h3>
            
            <iframe width="700" height="480" src="https://www.youtube.com/embed/U5L6lyiuzMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>Alcântara é uma pequena cidade histórica que teve seu auge nos séculos 18 e 19. Hoje abriga algumas ruínas coloniais. Também é a casa do Doce de Espécie, destaque no nosso Guia da Culinária Maranhense, e palco da Festa do Divino Espiríto Santo, que acontece entre o fim de maio e início de junho. 
            Além disso, Alcântara também possui praias semi-desertas, é um dos lugares onde é possível ver a revoada de guarás no fim de tarde. 
            A cidade é acessível de barco a partir de São Luís. A travessia é feita em menos de 1h, em barco que funciona como transporte a moradores de São Luís que trabalham em Alcântara. Os horários variam, uma vez que dependem da variação da maré. Se você costuma enjoar em barcos, garanta seu remedinho antes de ir, pois balança bastante. </p>
            <span>Fonte:<a href="https://www.indavoula.com.br/pontos-turisticos-do-maranhao/">Inda vou la</a></span>
        </div>

        <div class="content">
            <h3>4 – Chapada das Mesas</h3>
            
            <iframe width="700" height="480" src="https://www.youtube.com/embed/k-OWGG-P8bg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>O Parque Nacional da Chapada das Mesas é um dos principais pontos turísticos do Maranhão, localizado no sul do estado. 
            A Chapada das Mesas é um destino para os apaixonados por paisagens naturais, cachoeiras e trilhas. A área do parque abrange territórios pertencentes aos municípios de Estreito, Carolina e Riachão, sendo os dois últimos as principais bases para visitar as águas calmas e cristalinas desse paraíso. Para se hospedar, Carolina tem maior estrutura.</p>
            <span>Fonte:<a href="https://www.indavoula.com.br/pontos-turisticos-do-maranhao/">Inda vou la</a></span>
        </div>

        <div class="content">
            <h3>5 – Delta das Américas ou Delta do Parnaíba</h3>
            
            <iframe width="700" height="480" src="https://www.youtube.com/embed/BVbpH1a0Brs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>O Delta do Parnaíba é um destino turístico compartilhado entre Maranhão e Piauí. Embora a maior parte do Delta pertença ao estado do Maranhão, no Piauí existem mais opções de passeios. Ainda assim, o turismo na cidade de Tutóia, no Maranhão, está crescendo bastante.
            A região do Delta do Parnaíba também faz parte da Rota das Emoções, que combina Lençóis Maranhenses, Delta do Parnaíba e Jericoacoara (Maranhão, Piauí e Ceará).
            </p>
            <span>Fonte:<a href="https://www.indavoula.com.br/pontos-turisticos-do-maranhao/">Inda vou la</a></span>
        </div>
    </main>

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="https://www.inova.ma.gov.br/" target="_blanck"> <img width="150px"
                                src="../assets/images/inova-maranhao.png" alt=""></a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Inicio</h5>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./cultura.html">Cultura</a></li>
                        <li><a href="#">Pontos Turisticos</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre o Inova Maranhão</h5>
                    <ul>
                        <li><a href="https://www.inova.ma.gov.br/" target="_blanck">Informações</a></li>
                        <li><a href="https://www.inova.ma.gov.br/" target="_blanck">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="https://github.com/Sogeking07" target="_blanck" class="twitter"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kelvynreis/" target="_blanck" class="facebook"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/kelvyn_reis_/" target="_blanck" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <a href="#" class="contato">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
                <div class="col-sm-2">
                    <img width="250px"src="../assets/images/trilhas.png" alt="imagen-trilhas">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright - Kelvyn Reis</p>
        </div>
    </footer>

    <div id="mymodal" class="modal-container">
        <div class="modal-content">
            <button class="exit">X</button>
            <h3>Deixe sua opniao sobre o site</h3>
            <form>
                <label>Nome e sobrenome<input type="text"name="Name" required placeholder="fulano de tal" /></label>
                <label>Email<input type="email"name="Name" required placeholder="fulano@gmail.com" /></label>
                <label>Telefone<input type="tel"name="Name" required placeholder="(XX) XXXXX-XXXX" /></label>
    
                <label for="mensagem">Deixe sua opnião</label>
                <textarea id="mensagem" cols="30" rows="5" required></textarea>
                <button>Enviar</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../modal.js"></script>
</body>
</html>